doctype html
html
  head
    title Yash Dance Academy
    block scripts
    block style
  body
    nav#navbar
      ul
        div#logo
          img(src="/static/img/logo.webp")
        li
          a(href="/") Home
        li
          a(href="/about") About Us
        li
          a(href="/contact") Contact Us
    block content
    footer#footer
      | © Copyright 2025 YashDanceAcademy.com | All rights reserved
